doctype html
html(lang="en")
  include ../../_includes/__snippets.pug
  block vars
  head
    title= page.title()
    block metas
      meta(charset="utf-8")
      meta(name="description" content=page.description())
      meta(name="keywords" content=site.keywords().join())
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block styles
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="../../node_modules/xmeter/css/xmeter.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.15.0/bangs.css")
      link(rel="stylesheet" href="../../css/neo.css")
      style.
        body { #{new HTMLElement('body').style(site.colors).style()} }
      if site.name()
        //- if this site is an instance of the 'all' template
        link(rel="stylesheet" href="css/site.css")
    noscript
      // remove Toggle menu when JS is disabled
      style.
        @media not all and (min-width: 45em) {
          .o-Drawer__Button { display: none; }
        }
  body
    a.h-Hidden(href="#main") skip to main content
    header.o-Runner.c-Mast.c-Mast--head: div.o-Constrain
      != site.view.siteTitle()
    header.o-Runner.c-Mast.c-Mast--menu#main-menu: nav.o-Constrain.o-Drawer
      h1.h-Hidden Main Menu
      button.o-Drawer__Button.h-Inline(type="button" aria-controls="main-menu-drawer" aria-label="toggle main menu")
        svg.c-MobileMenuToggle(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36")
          path(d="M0,0 H24 V24 H0 z" fill="transparent")
          g(transform="translate(3,11)")
            each val in new Array(3)
              rect.c-MobileMenuToggle__Rect(width="18" height="2")
      noscript: a.c-Button(href="#sitemap") Site Map
      div.o-Drawer__Bar#main-menu-drawer
        -
          let mainmenu_options = {
            depth: 1,
            end: -1,
            classes: {
              list: 'o-List o-Flex c-MainMenu',
              item: 'o-List__Item o-Flex__Item c-MainMenu__Item',
            },
            links: {
              classes: {
                link  : 'c-MainMenu__Link h-Block',
                icon  : 'c-MainMenu__Icon',
                expand: 'c-MainMenu__Exp',
              },
            },
            options: {
              classes: {
                list: 'o-List c-MainMenu__Sub',
                item: 'o-List__Item c-MainMenu__Sub__Item',
              },
              links: { classes: { link: 'c-MainMenu__Sub__Link h-Block' } },
            },
          }
        != Util.view(site).pageToc(mainmenu_options)
    main#main
      article(itemscope="" itemtype="http://schema.org/Event")
        block mainHeader
          header.o-Runner.o-Runner--pageHeader: div.o-Constrain
            h1.c-PageTitle= page.name()
        block mainBody
          block mainMinimal
          block mainReference
          block mainRich
        block callouts
        block sponsors
          +callout()
            h1#sponsors Sponsors
            p.-ta-c: i.
              (see external demo of
              #[a(href="http://go.asce.org/static/sponsors/") sponsors carousel]
              by rank)
            each $supporterLevel,index in site.currentConference.getSupporterLevelQueue('home-page')
              != $supporterLevel.view.supporterBlock(site.currentConference)
            -
              let highlight_buttons = [
                new HTMLElement('a').attr('href','sponsor.html').addContent(`All Sponsors`)
              ]
            != Util.view(highlight_buttons).highlightButtons()
    footer.o-Runner.c-Mast.c-Mast--sitemap#sitemap: nav.o-Constrain
      h1.h-Hidden Sitemap
      -
        let sitemap_options = {
          depth: Infinity,
          start: 1,
          classes: {
            list: 'o-List o-Flex c-Sitemap',
            item: 'o-List__Item o-Flex__Item c-Sitemap__Item',
          },
          options: {
            classes: {
              list: 'o-List c-Sitemap__Sub',
              item: 'o-List__Item c-Sitemap__Sub__Item',
            },
          },
        }
      != Util.view(site).pageToc(sitemap_options)
    footer.o-Runner.c-Mast.c-Mast--foot#connect-with-asce: div.o-Constrain
      h1.h-Hidden Connect With #[abbr(title="American Society of Civil Engineers") ASCE]
      address(itemscope="" itemtype="http://schema.org/NGO")
        p.c-ASCELogo(itemprop="name")
          a.h-Block.-h-1o1(href="http://www.asce.org" itemprop="url")
            span.h-Hidden American Society of Civil Engineers
        p(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="streetAddress") 1801 Alexander Bell Drive
          br
          span(itemprop="addressLocality") Reston
          = ', '
          span(itemprop="addressRegion") VA
          = ' '
          span(itemprop="postalCode") 22901-4382
        p.-fz-el-kilo(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          a(href="tel:+1-800-548-2723") +1 (800) 548-2723
          meta(content="+1-800-548-2723" itemprop="telephone")
          meta(content="customer support" itemprop="contactType")
        p.-fz-el-kilo(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          a(href="tel:+1-703-295-6300") +1 (703) 295-6300
          meta(content="+1-703-295-6300" itemprop="telephone")
          meta(content="United States of America" itemprop="areaServed")
          meta(content="customer support" itemprop="contactType")
        include ../../_views/_c-SocialList.view.pug
        +socialList(site.getSocialAll()).c-SocialList--footer
        p: small
          | &copy; #[time 1996]&ndash;#[time 2016],#{' '}
          span(itemprop="name") American Society of Civil Engineers
    a.c-Button(href="#top" title="go to top" aria-label="go to top" style={
      'position': 'fixed'
    , 'bottom'  : '1.5rem'
    , 'right'   : '2rem'
    }): i.material-icons(role="none") arrow_upward
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script(src="../../node_modules/xmeter/js/o-Tablist.js")
      script(src="../../js/o-Drawer.js")
      //- script.
        $('.c-Speaker__Body').addClass('-h-z')
        $('.c-Speaker__Img').height(function () { return $(this).width() })
          .click(function () { $(this).siblings('.c-Speaker__Body').removeClass('-h-z') })
        $(window).resize(function () {
          $('.c-Speaker__Img').height(function () { return $(this).width() })
        })
