doctype html
html(lang="en")
  include ../../_includes/__snippets.pug
  block vars
  head
    title= page.title()
    block metas
      meta(charset="utf-8")
      meta(name="description" content=page.description())
      meta(name="keywords" content=site.keywords().join())
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block styles
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/beta-v6/xmeter.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.14.1/bangs.min.css")
      link(rel="stylesheet" href="../../css/neo.css")
      style.
        .c-Banner--hero { --banner-img: url('#{site.images().hero}'); }
        .c-Banner--city { --banner-img: url('#{site.images().city}'); }
        .c-Banner--prev { --banner-img: url('#{site.images().prev}'); }
        .c-Banner--next { --banner-img: url('#{site.images().next}'); }
      if site.name()
        //- if this site is an instance of the 'all' template
        link(rel="stylesheet" href="css/site.css")
    noscript
      // remove Toggle menu when JS is disabled
      style.
        @media not all and (min-width: 45em) {
          .c-Toggle__Check,
          .c-Toggle__Viz,
          .o-Drawer { display: none; }
        }
  body(style=site.colors())
    a.h-Hidden(href="#main") skip to main content
    header.o-Runner.c-Mast.c-Mast--head: div.o-Constrain
      include ../../_views/_ConfSite.view.pug
      +siteTitle(site)
    header.o-Runner.c-Mast.c-Mast--menu: div.o-Constrain
      label.c-Toggle(aria-label="toggle main menu")
        input.c-Toggle__Check.h-Hidden(type="checkbox" value="main menu is open" role="switch")
        svg.c-Toggle__Viz(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36")
          path(d="M0,0 H24 V24 H0 z" fill="transparent")
          g(transform="translate(3,11)")
            each val in new Array(3)
              rect.c-Toggle__Viz__Bar(width="18" height="2")
        noscript
          a.c-Btn(href="#site-map") Site Map
      nav.o-Drawer#main-menu
        h1.h-Hidden Main Menu
        +sitetoc({
          pages: site.findAll().slice(0, -1)
        , icons: { page: true, sub: true }
        , depth: 1
        , classes: {
            listclasses: 'o-Flex c-MenuMobile-nsM c-MenuBar-sM'
          , itemclasses: 'o-Flex__Item c-MenuMobile__Item-nsM c-MenuBar__Item-sM'
          , linkclasses: 'c-MenuMobile__Link-nsM c-MenuBar__Link-sM h-Block'
          , sub: {
              listclasses: 'c-MenuMobile__Sub-nsM c-MenuBar__Sub-sM'
            , itemclasses: 'c-MenuMobile__Sub__Item-nsM c-MenuBar__Sub__Item-sM'
            , linkclasses: 'c-MenuMobile__Link-nsM c-MenuMobile_Sub_Link-nsM c-MenuBar__Link-sM c-MenuBar__Sub__Link-sM h-Block'
            }
          }
        })
    main#main
      article(itemscope="" itemtype="http://schema.org/Event")
        block mainHeader
          header.o-Runner.o-Runner--pageHeader: div.o-Constrain
            h1.c-PageTitle= page.name()
        block mainBody
          block mainMinimal
          block mainReference
          block mainRich
        block callouts
        block sponsors
          +highlight()
            h1#sponsors Sponsors
            p.-ta-c: i.
              (see external demo of
              #[a(href="http://go.asce.org/static/sponsors/") sponsors carousel]
              by rank)
            include ../../_views/_SupporterLevel.view.pug
            each $supporterLevel,index in site.currentConference().getSupporterLevelQueue('home-page')
              +supporterBlock($supporterLevel, site.currentConference())
            +highlightButtons([{text:'All Sponsors', href:'sponsor.html'}])
    footer.o-Runner.c-Mast.c-Mast--sitemap#site-map: nav.o-Constrain
      h1.h-Hidden Site Map
      include ../../_views/_c-Sitemap.view.pug
      +sitemap(site.findAll().slice(1))
    footer.o-Runner.c-Mast.c-Mast--foot#connect-with-asce: div.o-Constrain
      h1.h-Hidden Connect With #[abbr(title="American Society of Civil Engineers") ASCE]
      address(itemscope="" itemtype="http://schema.org/NGO")
        p.c-ASCELogo(itemprop="name")
          a.h-Block.-h-1o1(href="http://www.asce.org" itemprop="url")
            span.h-Hidden American Society of Civil Engineers
        p(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="streetAddress") 1801 Alexander Bell Drive
          br
          span(itemprop="addressLocality") Reston
          = ', '
          span(itemprop="addressRegion") VA
          = ' '
          span(itemprop="postalCode") 22901-4382
        p.-fz-el-kilo(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          a(href="tel:+1-800-548-2723") +1 (800) 548-2723
          meta(content="+1-800-548-2723" itemprop="telephone")
          meta(content="customer support" itemprop="contactType")
        p.-fz-el-kilo(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          a(href="tel:+1-703-295-6300") +1 (703) 295-6300
          meta(content="+1-703-295-6300" itemprop="telephone")
          meta(content="United States of America" itemprop="areaServed")
          meta(content="customer support" itemprop="contactType")
        include ../../_views/_c-SocialList.view.pug
        +socialList({
          twitter : { url: '//twitter.com/ASCE'    , text: 'Follow ASCE on Twitter' }
        , google  : { url: '//plus.google.com/ASCE', text: 'Follow ASCE on Google+' }
        , facebook: { url: '//facebook.com/ASCE'   , text: 'Like ASCE on Facebook' }
        , linkedin: { url: '//linkedin.com/ASCE'   , text: 'Connect with ASCE on LinkedIn' }
        , youtube : { url: '//youtube.com/ASCE'    , text: 'Watch ASCE on YouTube' }
        }).c-SocialList--footer
        p: small
          | &copy; #[time 1996]&ndash;#[time 2016],#{' '}
          span(itemprop="name") American Society of Civil Engineers
    a.c-Btn(href="#top" title="go to top" aria-label="go to top" style={
      'position': 'fixed'
    , 'bottom'  : '1.5rem'
    , 'right'   : '2rem'
    }): i.material-icons(role="none") arrow_upward
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script(src="/js/o-Tabs.js")
      script.
        // drawer links untabbed by default
        $('.o-Drawer').find('a').attr('tabindex', -1);
        $('.c-Toggle__Check').change(function () {
          // open/close drawer
          $(this).parents('.c-Toggle').siblings('.o-Drawer').toggleClass('o-Drawer--open')
          // toggle [tabindex="0"] on links in drawer
          $(this).parents('.c-Toggle').siblings('.o-Drawer').find('a').each(function () {
            if ($(this).attr('tabindex') === '0') $(this).attr('tabindex', -1)
            else $(this).attr('tabindex', 0)
          })
        })
      //- script.
        $('.c-Speaker__Body').addClass('-h-z')
        $('.c-Speaker__Img').height(function () { return $(this).width() })
          .click(function () { $(this).siblings('.c-Speaker__Body').removeClass('-h-z') })
        $(window).resize(function () {
          $('.c-Speaker__Img').height(function () { return $(this).width() })
        })
